* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  background-color: black;
  color: #fff;
  min-height: 95px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.625;
}

.container {
   text-align: center;
}

.polaroid {
    background: #ffffff;
    display: inline-block;
    margin: 5%;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
    cursor: pointer;
  }
  
  .polaroid:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }

  .logo {
    cursor: pointer;
  }

  nav img {
    float: left;
    width: 80px;
  }

  nav h1 {
    float: left;
    margin-bottom: 15px;
  }
  
  .polaroid img {
    display: block;
    width: 250px;
    height: 230px;
  }
  
  .polaroid:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }

  h4 {
      max-width: 250px;
      max-height: 20px;
      overflow: hidden;
  }

  .d-none {
      display: none;
  }

  .article-container {
      text-align: center;
  }

  .article-image, .article-body, .comments-container, .leave-comment-container {
      width: 70%;
  }

  .article-body {
    margin: 20px auto;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
  } 

  .comments-container, .leave-comment-container {
    margin: 0 auto;
  }

  .leave-comment-container {
    text-align: left;
  }

  .comment-author {
    float: left;
    width: 80%;
    text-align: left;
    font-size: 14px;
    color: #028bbd;
    font-weight: 900;
    margin-bottom: 5px;
  }

  .comment-date {
    float: right;
    width: 20%;
    text-align: right;
    height: 21px;
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
    color: #888;
    margin-bottom: 5px;
  }

  .comment-body {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625;
    margin-bottom: 35px;
  }

  .comment-box {
    background: #e4e6e1;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 168px;
    padding: 16px;
    font-size: 18px;
    font-weight: 300;
  }

  .author {
    width: 40%;
    background: #e4e6e1;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding: 16px;
  }

  hr.dotted {
    border-top: 3px dotted #bbb;
    width: 70%;
    height: 20px;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .comment-submit {
    text-align: center;
    width: 40%;
    background: #f26a44;
    border-radius: 5px;
    text-transform: none;
    font-size: 22px;
    padding: 12px;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  footer {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
  }

  footer img {
    width: 30px;
  }

  @media (max-width: 800px) {
    .article-image, .article-body, .comments-container, .leave-comment-container, hr.dotted {
      width: 90%;
  }
    .comment-submit, .author {
      width: 60%;
    }
  }

  @media (max-width: 650px) {
    .comment-author {
      width: 70%;
    }

    .comment-date {
      width: 30%;
      height: 42px;
    }
  }

  @media (max-width: 400px) {
    .comment-submit, .author {
      width: 100%;
    }
  }